body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
  /* Set a standard base font size */
}

.our-team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.logo-img {
  width: 20vw;
  height: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
}

.header ul {
  display: flex;
  list-style-type: none;
  font-size: 1.5rem;
}

.header li {
  margin: 0 10px;
  cursor: pointer;
  padding: 0.8rem;
}

.team-section h2 {
  font-size: 3rem;
}

.team-section {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  width: 100%;
  box-sizing: border-box;
}

.team-members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  width: 100%;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 250px;
}

.image-container {
  position: absolute;
  top: -40px;
  z-index: 1;
}

.team-img {
  width: 150px;
  height: 150px;
  border-radius: 53% 41% 44% 56% / 45% 41% 57% 0%;
  object-fit: cover;
  box-shadow: -13px 11px 7px -3px rgb(54, 54, 54);
}

.info-container {
  background-color: #7e952e;
  width: 100%;
  height: 180px;
  margin-bottom: 2.5rem;
  text-align: center;
  border-radius: 50px 50px 0 0;
  box-sizing: border-box;
}

.info-container h3 {
  font-size: 1.2rem;
  color: whitesmoke;
  text-align: left;
  margin-left: 1rem;
  margin-top: 8rem;
}

.info-container p {
  font-size: 1.2rem;
  color: whitesmoke;
  margin: 0;
}

.footer-wrapper {
  background-color: black;
  padding: 50px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: black;
  color: white;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}

.footer div {
  flex: 1;
  margin: 0 10px;
}

.help-section {
  display: flex;
  flex-direction: column;
}

.contact-info {
  margin-top: 20px;
}

.contact-info h4 {
  margin-bottom: 10px;
  margin-top: 2.5rem;
  font-size: 1.6rem;
}

.contact-info p {
  margin-top: 3rem;
  font-size: 1.2rem;
  text-align: left;
  margin-left: 1.5rem;
}

.quick-links ul {
  list-style: none;
  padding: 0;
}

.quick-links li {
  margin-bottom: 10px;
  text-align: left;
  padding: 0.5rem;
  margin-left: 10rem;
}

.community {
  text-align: center;
}

button {
  background-color: #97bf00;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 12px;
  margin-right: 5.2rem;
}

.community h4 {
  font-family: "Anonymous Pro", monospace;
  font-size: 1.5rem;
  text-align: left;
  margin-left: 1rem;
  margin-right: 5rem;
  padding-bottom: 10rem;
}

.community p {
  font-size: 1.2rem;
  text-align: left;
  margin-left: 1rem;
  margin-right: 8rem;
}

.community img {
  margin-top: 2rem;
  height: 5rem;
  width: 18rem;
  margin-right: 2.5rem;
  color: white;
}

.box {
  border: 2px solid white;
  font-size: 1rem;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background-color: #333;
  width: 100%;
}

.footer-bottom p {
  margin: 0;
  color: whitesmoke;
  font-size: 1.2rem;
  margin-left: 1.5rem;
}

.footer-links a {
  color: whitesmoke;
  text-decoration: none;
  margin-left: 20px;
  font-size: 1.2rem;
  padding-left: 1rem;
}

.footer-links a:hover {
  text-decoration: underline;
}

.team-member p {
  font-size: 1.2rem;
  text-align: left;
  margin-left: 1rem;
  margin-top: -1rem;
}
